<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="inject" frontName="inject">
            <module name="Dependency_Inject"/>
        </route>

        <!-- <route id="contact" frontName="contact">
            <module name="MyContactForm_ContactForm"/>
        </route> -->
    </router>
</config>